@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #0e1224;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background: #72e2ae;
  border-radius: 12px;
}
::selection {
  color: #0b1224f3;
  background-color: #72e2ae;
}

body {
  font-family: "Radio Canada", sans-serif;
  background-color: #0b1224f3;
  color: #fafafa;
}
.my-glass {
  backdrop-filter: blur(3px) saturate(0%);
  -webkit-backdrop-filter: blur(3px) saturate(0%);
  background-color: rgba(15, 23, 42, 0.78);
  border-bottom: 1px solid #9394a2;
}
.my-glass2 {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: #0f172ac7;
  border-bottom: 1px solid #9394a2;
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.conic {
  position: relative;
  z-index: 0;
  width: 200px;
  height: 200px;
  margin: 20px;
  overflow: hidden;
  border-radius: 50%;
  padding: 0.5rem;
}
.conic::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 9px;
  top: 8px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background: #000;
  border-radius: 50%;
}
.conic::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background-color: #72e2ae;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(transparent, #00452e, transparent 30%);
  animation: rotate 4s linear infinite;
}
.blur-img {
  filter: blur(8px);
}
.img {
  width: 100%;
  border-radius: 50%;
}

.section-underline::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #72e2ae;
  position: absolute;
  border-radius: 50%;
  animation: swipe 4s linear infinite;
}

@keyframes swipe {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
.my-list::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 9999px;
  background-color: #72e2ae;
}
@layer components {
  .primary-btn {
    @apply hover:ring-4 ring-sec-color;
  }
  .social-btn {
    @apply border shadow-lg shadow-sec-color border-main-color hover:bg-main-color hover:text-gray-800 cursor-pointer lg:p-3 p-2 lg:text-xl text-xs rounded border-b-4 duration-500;
  }
  .section {
    @apply lg:w-[1300px] mx-auto lg:mt-20 p-4 overflow-hidden relative;
  }
  .project-card {
    @apply flex gap-1 items-center text-xs p-2 border-b-2 border-main-color hover:bg-main-color hover:shadow-lg shadow-main-color hover:text-[#0f172ac7] hover:rounded duration-300;
  }
}

.lazy__slide {
  height: 300px;
  background: #0f172ac7;
  background-color: linear-gradient(0deg, #0f172ac7 0%, #0b1b41c7 100%);
  background-image: url("./assets/loader.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
  min-height: auto;
}

.lazy__slide img {
  background-color: transparent;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
